<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carnet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>

    <link rel="stylesheet" href="../public/css/card.css">

</head>

<body>

    <div class="container" id="carnet">
        <div class="card">
            <div class="card-body frente">
                <div class="foto">
                    <figure>
                        <img src="../photos/a.jpg">

                    </figure>
                    <p>Nro.</p>
                    <p class="jefe">Jefe de afiliacion</p>
                </div>
                <div class="info">
                    <figure>
                        <img src="../photos/sinec.PNG">
                    </figure>
                    <p><i><b>
                                <center>ENTE GESTOR DE LA SEGURIDAD SOCIAL</center>
                            </b></i></p>
                    <p><b>Nombres:</b></p>
                    <p><b>Apellidos:</b></p>
                    <p><b>Empresa:</b></p>
                    <p><b>Fecha de ingreso:</b></p>
                    <p><b>Nro. Matricula:</b></p>
                    <p><b>Fecha de nacimiento:</b></p>
                    <p><b>Categoria:</b></p>

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body atras">
                <h2>SEGURO INTEGRAL DE SALUD</h2>
                <h6><i>CREADO MEDIANTE D.S 26474 DEL 29 DE ENERO DE 1999</i></h6>
                <p>CONSULTORIO CALLE ESPAÑA Nº 473 TELF: 3364160 - 3371167</p>
                <p>OF. ADMINISTRATIVAS C/24 DE SEP. Nº 266 EDIF. ITAU TELF. 3323173 - 3326572</p>
                <p>CLINICA Y LABORATORIO AV. 2 DE AGOSTO Nº 6135 PASANDO EL 6TO ANILLO</p>
                <p>CLINICA TELF. 3452050 - 3427151 LABORATORIO TELF. 3442723</p>
                <div class="fecha">
                    <p>Valido Desde:</p>

                </div>
                <div class="fecha-hasta">
                    <p>Hasta:</p>

                </div>




            </div>
        </div>
    </div>
    <button type="button" name="btnImprimir" id="btn1">Imprimir
    </button>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
</body>
<script type="module">
    import tinyPrint from '../public/tiny-print/src/index.js'

    const element = document.getElementById('carnet');

    $("#btn1").click(function () {
        tinyPrint(element, {
            scanStyles: true,
            scanHTML: true,
            importStyles:
            ["../public/css/card.css","https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"],
            cssStyle: '',
            hidePageRule: true
        });
    });
</script>

</html>