<% include resources.ejs %>
<div class="center">
    <h1 onclick="location.href = '/'">HOME</h1>
    <br>
    <button onclick="location.href = '/login'" class="btn">Iniciar Sesion</button>
    <button onclick="location.href = '/signup'" class="btn">Registro</button>
</div>