<!DOCTYPE html>
<html lang="en">
<%- include resources.ejs %>
<title>SINEC - CARNETIZACIÓN</title>

<body>
    <div class="center">
        <!-- <h1 onclick="location.href = '/'">
            SINEC
        </h1> -->
        <div style="padding: 50px;">
            <img src="../photos/logo.png" alt="logo" onclick="location.href = '/'" style="display: flex;">
            <img src="../photos/card.png" alt="logo" style="width: 700px;">
        </div>
        <br>
        <!-- <button onclick="location.href = '/login'" class="btn">Iniciar Sesion</button> -->
        <!-- <button onclick="location.href = '/signup'" class="btn">Registro</button> -->
    </div>
</body>

</html>