<%- include index.ejs %>

<%= typeof msg != 'undefined' ? msg : '' %>

<main>
    <div class="container" style="max-width: 600px;">
        <div class="center">
            <div class="row" style="border-radius: 10px; background-color: rgb(238, 238, 238);">
                <div class="col s12">
                    <h3>Iniciar Sesi칩n</h3>
                    <%if (loginMessage) { %>
                    <blockquote style="background-color: bisque;">
                        <%= loginMessage%>
                        <%if (btn_updatepwd) { %>
                        <%- btn_updatepwd%>
                        <% }%>
                    </blockquote>
                    <% }%>
                </div>
                <div class="input-field col s12">
                    <form action="/login" method="POST" id="login">
                        <div class="input-field col s12">
                            <input id="usuario" name="usuario" type="text" class="validate"
                                onchange="this.setCustomValidity('')"
                                oninvalid="this.setCustomValidity('Este campo es obligatorio.')" required>
                            <label for="usuario">Usuario</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="password" name="password" type="password" class="validate"
                                onchange="this.setCustomValidity('')"
                                oninvalid="this.setCustomValidity('Este campo es obligatorio.')" required>
                            <label for="password">Contrase침a</label>
                        </div>
                        <div class="input-field col s6">
                            <label>
                                <input type="checkbox" name="remember" class="filled-in" checked />
                                <span>Recordar Sesi칩n</span>
                            </label>
                        </div>
                        <div class="input-field col s6">
                            <button class="btn waves-effect waves-light" type="submit">Iniciar Sesi칩n
                                <i class="material-icons right">login</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- <script>
    $('#login input[type=text]').on('change invalid', function () {
        var textfield = $(this).get(0);

        // 'setCustomValidity not only sets the message, but also marks
        // the field as invalid. In order to see whether the field really is
        // invalid, we have to remove the message first
        textfield.setCustomValidity('');

        if (!textfield.validity.valid) {
            textfield.setCustomValidity('Este campo es obligatorio.');
        }
    });
</script> -->