<%- include index.ejs %>

<%= typeof msg != 'undefined' ? msg : '' %>


<div class="row center">
    <h3>Iniciar Sesion</h3>
    <%if (loginMessage) { %>
    <div><%= loginMessage%></div>
    <% }%>
    <div class="col s3"></div>
    <div class="input-field center col s6">
        <form action="/login" method="POST">
            <input type="text" name="email" placeholder="Usuario" required class="input-field">
            <input type="password" name="password" placeholder="Contraseña" required>
            <label>
                <input type="checkbox" name="remember" class="filled-in" />
                <span>Recuerdame</span>
            </label>
            <button type="submit" class="btn">
                Iniciar Sesion
            </button>
        </form>
    </div>
</div>