<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VALIDEZ</title>
</head>

<body>
    <div style="background-color: antiquewhite; border-radius: 15px; padding: 10px; width: 300px;">
        <h1>VALIDEZ</h1>
        <p>
            <b>Agenda:</b> 87
        </p>
        <p>
            <b>
                Cod_asegurado:
            </b>
            450113VCJ00
        </p>
        <p>
            <b>
                Nombre: 
            </b>
            VARGAS COSTAS JAIME
        </p>
        <p>
            <b>
                Fec_nac:
            </b>
             13/01/1945
        </p>
        <p>
            <b>
                Sexo:
            </b>
             1
        </p>
        <p>
            <b>
                Ci:
            </b>
             1034373
        </p>
        <p>
            <b>
                Ci_loc:
            </b>
             CH
        </p>
        <p>
            <b>
                Cod_emp:
            </b>
             34
        </p>
        <p>
            <b>
                Nom_emp:
            </b>
             SINEC
        </p>
        <p>
            <b>
                Fec_ing:
            </b>
             27/07/2005
        </p>
        <p>
            <b>
                Tipo_sangre:
            </b>
             A+
        </p>
        <p style="background-color: green; color: white; border-radius: 10px; padding: 5px;">
            <b>ACTIVO</b>
        </p>
        <p style="background-color: red; color: white; border-radius: 10px; padding: 5px;">
            <b>INACTIVO</b>
        </p>

    </div>
</body>

</html>