* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

.container {
    display: flex;
}

.card {
    width: 476px;
    border-radius: 15px;
}

.card .card-body.frente {
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 8px;
}

.card .card-body.frente .foto {
    position: relative;
}

.card .card-body.frente .foto .jefe {
    position: absolute;
    bottom: 0;
    margin: 0;
}

.card .card-body.frente .foto figure {
    margin: 0;
}

.card .card-body.frente .foto img {
    max-width: 100%;
    height: 160px;
    /* border: 1px solid black; */
}

.card .card-body.frente .info {
    display: flex;
    flex-direction: column;
}

.card .card-body.frente .info p {
    /* margin: 1px; */
    margin: 0;
    /* text-align: center; */
    font-size: 15px;
    /* margin: 5px 0; */
    position: relative;
}

.card .card-body.frente .info figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.card .card-body.frente .info figure img {
    width: 50%;
}

h3,
h6 {
    text-align: center;
    font-weight: bold;
}

h6 {
    margin: 10px 0;
}

.card .card-body.atras p {
    margin: 0;
    text-align: center;
    font-size: 12px;
    margin: 5px 0;
    position: relative;
}

.card .card-body.atras .fecha p {
    font-size: 14px;
    position: absolute;
    bottom: 0px;
    left: 20px;
}

.card .card-body.atras .fecha-hasta p {
    font-size: 14px;
    position: absolute;
    bottom: 0px;
    right: 40px;
}